:root {
    --breadcrumbs-height: 63px;
}

.Breadcrumbs {
    &-List {
        padding-block: 32px 0;

        @include tablet {
            --breadcrumbs-height: 59px;

            padding-block: 28px 0;
        }
    }

    li {
        &:last-child {
            margin-block-end: 0;
        }
    }
}
