:root {
    --checkbox-height: 20px;
    --checkbox-width: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color-active: var(--dark-color-6);
    --required-text-color: var(--secondary-color-4);
}

.Field {
    &-CheckboxLabel {
        font-size: 14px;
        line-height: normal;
        font-weight: 400;
    }

    [type="checkbox"] {
        font-size: 14px;
        line-height: normal;
        font-weight: 400;
    }

    &_hasError {
        input:not([type="number"]),
        textarea,
        select {
            border-width: var(--input-border-width);
            border-color: var(--input-border-color);
        }
    }

    textarea {
        font-size: var(--input-font-size);
    }

    &_style {
        &_inline {
            input {
                @include mobile {
                    font-size: var(--input-font-size);
                }
            }
        }
    }

    &_type {
        &_text,
        &_tel,
        &_textarea,
        &_email,
        &_password,
        &_date,
        &_number,
        &_time,
        &_datetime,
        &_datetime-local,
        &_file,
        &_select {
            &.Field {
                &_isValid {
                    input,
                    textarea,
                    select {
                        border-width: var(--input-border-width);
                        border-color: var(--input-border-color);
                    }
                }
            }
        }

        &_file {
            &.Field {
                &_isValid {
                    input {
                        & + label {
                            border-color: var(--input-border-color);
                        }
                    }
                }

                &_hasError {
                    input {
                        & + label {
                            border-color: var(--input-border-color);
                        }
                    }
                }
            }
        }
    }

    &-Label {
        font-size: var(--paragraph2-font-size);
        padding-block-end: 12px;
    }

    &-Error {
        &Message {
            color: var(--input-color);
            opacity: 0.5;
        }
    }

    &-Message {
        color: var(--input-color);
        opacity: 0.5;
    }

    &-Icon {
        position: absolute;
        width: 24px;
        height: 24px;
        inset-block-start: calc(50% - 12px);
        inset-inline-end: var(--input-padding-inline);
    }

    &-RadioLabel {
        font-size: 14px;
        font-weight: 500;
    }

    [type="checkbox"],
    [type="radio"] {
        & + .input-control {
            --input-color: var(--dark-color-6);
            --box-color: var(--dark-color-1);

            margin-inline-end: 12px;
        }

        &:hover {
            &:not(:disabled) {
                & + .input-control {
                    @include desktop {
                        --checkbox-border-color-active: var(--dark-color-11);
                        --box-color: var(--dark-color-1);
                    }

                    &::after {
                        @include desktop {
                            --checkmark-color: transparent;
                        }
                    }
                }
            }
        }

        &:checked {
            & + .input-control {
                &::after {
                    --checkmark-color: var(--primary-color-5);
                }
            }

            &:hover {
                & + .input-control {
                    @include desktop {
                        --box-color: transparent;
                        --checkbox-border-color-active: var(--dark-color-11);
                    }

                    &::after {
                        @include desktop {
                            --checkmark-color: var(--primary-color-5);
                        }
                    }
                }
            }
        }
    }

    [type="radio"] {
        &:checked {
            & + .input-control {
                --checkbox-border-color: var(--primary-color-3);
                --checkbox-border-color-active: var(--primary-color-3);

                &::after {
                    background-color: var(--color-white);
                }
            }

            &:hover:not(:disabled) + .input-control {
                @include desktop {
                    --checkbox-border-color-active: var(--primary-color-3);
                }
            }
        }

        + .input-control {
            height: 20px;
            width: 20px;
            min-height: 20px;
            min-width: 20px;

            &::after {
                width: 8px;
                height: 8px;
                border: none;
                border-radius: 50%;
                box-shadow: none;
                inset-block-start: 4px;
                inset-inline-start: 4px;
                background-color: transparent;
            }
        }
    }
}
